main {
  margin: 0px 6px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1rem;
}

.fileButton {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.alert-bg {
  background: #f7e4e1;
}
